html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    position: relative;
    height:100vh;
}
#welcome{
    background-color: darkslateblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;                                                                                                             
    text-align: center;
    height:100vh;
}
#playgame{
    margin-bottom:3em; 
}
#playgame input[type=radio]
{
display: none;
}
#playgame label{
    padding:1.25em;
    border: 2px solid whitesmoke;
    font-weight: bold;
    box-sizing: border-box;
    margin: 3em 0.5em 4em;
    display: inline-block;

}
#board{
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5vw;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    background-color: #ccc;

}
#playgame button[type=submit]{
    display: block;
    margin: 0 auto;
    padding: 1.25em 2.5em ;
    background-color: white;
    font-weight: 700;
    border: none;
}
#playgame input[type=radio]:checked + label {
background-color: white;
color: slateblue;
}
#message{
z-index:-1;
position: absolute;
width: 100%;
left: 0%;
top:10%;
box-sizing: border-box;
padding: 2.25em;
opacity: 0;
background-color: #ccc;
transition: 0.4s;

}
#message.show{
    z-index: 4;
    display: block;
    top:15%;
    opacity: 1;
}
#board section{
    width: 22vw;
    height: 22vw;
    margin: 1vw 0;
    position: relative;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 3;
    transition: 0.5s;
}
.front, .back{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left:0;
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
}

.front{
    background-color: slateblue;
    z-index: 2;
}
#board .flipped {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-size: 250%;
    z-index: 1;
    transform: rotateY(180deg);
}
.reward{
    box-shadow:0 0 3px 5px  rgba(15, 160, 0, 0.7);

}